<apx-chart
  [series]="chartAnalyticsViewModel.series()"
  [colors]="[chartAnalyticsViewModel.displayColor()]"
  [chart]="chartAnalyticsViewModel.chartConfig().chart!"
  [stroke]="chartAnalyticsViewModel.chartConfig().stroke!"
  [fill]="chartAnalyticsViewModel.chartConfig().fill!"
  [tooltip]="chartAnalyticsViewModel.chartConfig().tooltip!"
  [xaxis]="chartAnalyticsViewModel.chartConfig().xaxis!"
  [yaxis]="chartAnalyticsViewModel.chartConfig().yaxis!"
  [grid]="chartAnalyticsViewModel.chartConfig().grid!"
>
</apx-chart>
